h1, a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
/* Seleciona todos os "h1" e todos os "a". */
p a {
   color: rgb(31, 25, 25);
   font-size: 15px;
} 
/* Seleciona todoas os "a" que estiverem dentro de "p". */
#logo {
   font-size: 35px;
   color: whitesmoke;
   background-color: black;
}
/* Seleciona apenas os elementos com id */
.conheca{
   color: greenyellow;
}
/* Seleciona os elementos com a mesma classe */