.navegacao {
   list-style: none;
   padding: 0px;
   margin: 0px;
   display: flex;
   gap: 30px;
}
a {
   text-decoration: none;
   background-color: #eee;
   color: black;
   padding: 10px 20px;
   display: block;
}